<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- moment.js per parsare la data -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


</head>

<body>


    <div id="main">

        <div id="top"></div>
        <div class="bottom"></div>

        <div class="container">
            <div class="column-left">
                <!-- user profile -->
                <div class="barUI">
                    <img src="img/avatar_io.jpg" alt="" class="icoSmall">

                    <div class="ico">
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                </div>

                <!-- notification area -->
                <div class="notifi">

                    <div class="bigIco">
                        <i class="fa fa-bell-slash" aria-hidden="true"></i>
                    </div>
                    <div>
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <u>attiva notifiche desktop</u>
                    </div>

                </div>

                <!-- search area -->
                <div class="search">
                    <div class="roundInput">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="input" type="text" placeholder="cerca o inizia una nuova chat">
                    </div>
                </div>

                <!-- l'elenco delle chat -->
                <div>

                    <!-- v-for per popolare la lista contatti-->
                    <!-- key come identificativo unico -->
                    <div class="user" v-for="(user, index) in usersList" :key="index" @click="onUserClick(user)">
                        <img :src="getAvatarPath(user.avatar)" alt="immagine utente" class="bigIco">
                        <!-- nome e "non ci sono messaggi" -->

                        <div class="name-last-message">
                            <strong>{{user.name}}</strong>
                            <br>
                            <p>Non ci sono messaggi!</p>
                        </div>

                    </div>
                </div>
            </div>

            <div id="column-right" class="column">
                <!-- l'utente corrente -->
                <div class="barUI">
                    <img :src="`img/avatar${selectedUser.avatar}.jpg`" alt="" class="icoSmall">

                    <div>
                        <strong>{{selectedUser.name}}</strong>
                    </div>

                    <div class="ico">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                </div>

                <!-- chat messaggi -->
                <!-- renderizzo tutti i messaggi dell'utente selezionato -->
                <!-- utilizzo index per la key identificativa -->
                <div class="chat-box">
                    <div class="message" v-for="(message,index) in selectedUser.messages"
                        :class="{received: message.status === 'received', sent: message.status === 'sent'}"
                        :key="index">
                        {{message.text}}

                    <div class="current-time">{{formattedTime(message.date)}}</div>    
                        <!-- <div class="sent"></div>
                    <div class="received"></div>  placeholder HTML-->
                    </div>
                </div>

                <!-- invio messaggio -->
                <div class="barUI">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>

                    <div class="roundInput">
                        <!-- prendo l'input dell'utente e lo pusho nell'array di selectedUser -->
                        <input class="input" type="text" @keyup.enter="sendMessage" v-model="newText">
                    </div>

                    <i class="fa fa-microphone" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- formatto le date con moment.js -->
    <script src="/JS/contatti.js"></script>
    <script src="/JS/script.js"></script>


</body>


</html>