*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.icoSmall {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.bigIco {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    color: #9ee1fe;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.search {
    height: 40px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
	align-items: center;
}

#top{
    height: 12vh; 
    background-color: #009788; 
}

.notifi{
    height: 80px;
    background-color: #9ee1fe;
    display: flex;
    align-items: center;
}

.user {
    background-color: white;
    display: flex;
    align-items:center;
    padding-left: 3px;
    margin-bottom: 3px;
    
}

.user:hover {
	background-color: aliceblue;
}

.fa:hover {
    color: #4141bf;
}

#main {
    /* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	background-color: #dadbd5;
	position: relative;
}

.roundInput {
    background-color: white;
    width: 90%;
    border-radius: 15px;
    height: 75%;
    display: flex;
    position: relative;
}

.search .roundInput {
    padding-left: 35px;
}

.input {
    flex-grow:1;
    border: 0;
}

.search .fa-search{
    position: absolute;
    left: 12px;
    top: 25%;
}

.ico{
    display: flex;
    flex-basis: 15%;
    justify-content: space-between;
}

/* CLASSI PER LA STRUTTURA */

.bottom {
    height: 88vh;
}

.barUI {
    background-color: #ededed;
    height: 70px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    padding: 15px;
}

.container{
    background-color: white;
    height: 70vh;
    width: 75vw;
    z-index: 1;
    display: flex;
    position: absolute;
    top: 50px;
    margin-left: 12vw;
}

.column-left {
    height: 300px;
	background-color: #ededed;
	width: 34%;
	height: 100%;
}

#column-right {
    width: 66%;
	/* margin-left: 5px; */
	background-image: url(/img/mine.jpg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* CLASSI PER I MESSAGGI E CHAT*/

.chat-box {
    display: flex;
    flex-direction: column;
    height: calc(100% - 140px);
    padding: 15px;
}

.message{
    display: flex;
    flex-direction: column;   
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.current-time {
    font-size: 9px;
    position: absolute;
    right: 3px;
    bottom: 3px;
}
.sent{
    
    background-color: green;
    border-radius: 5px;
    align-self:flex-end;
    /* width: 75px; placeholder
    height: 50px; */

}

.received{

    background-color: white;
    border-radius: 5px;
    align-self: flex-start;
    /* width: 75px;
    height: 50px; */

}